<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ListController</servlet-name>
        <servlet-class>controller.student.ListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>controller.Home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewMarkController</servlet-name>
        <servlet-class>controller.student.ViewMarkController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubjectController</servlet-name>
        <servlet-class>controller.student.SubjectController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MarkController</servlet-name>
        <servlet-class>controller.student.MarkController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageController</servlet-name>
        <servlet-class>controller.teacher.ManageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GroupStudentController</servlet-name>
        <servlet-class>controller.student.GroupController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GroupSubjectController</servlet-name>
        <servlet-class>controller.student.GroupSubjectController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AssessmentController</servlet-name>
        <servlet-class>controller.AssessmentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GroupLecturerController</servlet-name>
        <servlet-class>controller.teacher.GroupController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListStuController</servlet-name>
        <servlet-class>controller.teacher.ListStuController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LecSubController</servlet-name>
        <servlet-class>controller.teacher.LecSubController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListController</servlet-name>
        <url-pattern>/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewMarkController</servlet-name>
        <url-pattern>/viewmark</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubjectController</servlet-name>
        <url-pattern>/subject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MarkController</servlet-name>
        <url-pattern>/mark</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageController</servlet-name>
        <url-pattern>/manage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GroupStudentController</servlet-name>
        <url-pattern>/groupstu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GroupSubjectController</servlet-name>
        <url-pattern>/groupsub</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AssessmentController</servlet-name>
        <url-pattern>/assessment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GroupLecturerController</servlet-name>
        <url-pattern>/grouplect</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListStuController</servlet-name>
        <url-pattern>/liststu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LecSubController</servlet-name>
        <url-pattern>/lectsub</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
